name: Incubator

on:
    workflow_dispatch:

jobs:
    download-sources:
        name: Download and store sources
        runs-on: ubuntu-latest
        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Download external sources
              run: |
                  make prepare-src
                  make download-sqlite
                  make download-sqlean

            - name: Store sources
              uses: actions/upload-artifact@v4
              with:
                  name: sources
                  path: |
                      init
                      src
                      Makefile

    build-ubuntu:
        name: Build for Ubuntu
        runs-on: ubuntu-latest
        needs: download-sources
        permissions:
            contents: write
        steps:
            - name: Download sources
              uses: actions/download-artifact@v4
              with:
                  name: sources

            - name: Compile sources
              run: |
                  make prepare-dist
                  make compile-sqlite-linux
                  make compile-sqlean-linux

    build-windows:
        name: Build for Windows
        runs-on: windows-latest
        needs: download-sources
        permissions:
            contents: write
        steps:
            - name: Download sources
              uses: actions/download-artifact@v4
              with:
                  name: sources

            - name: Compile sources
              shell: bash
              run: |
                  make prepare-dist
                  make compile-sqlite-windows
                  make compile-sqlean-windows

    build-macos:
        name: Build for macOS
        runs-on: macos-latest
        needs: download-sources
        permissions:
            contents: write
        steps:
            - name: Download sources
              uses: actions/download-artifact@v4
              with:
                  name: sources

            - name: Compile sources
              run: |
                  make prepare-dist
                  make compile-sqlite-macos
                  make compile-sqlean-macos
